# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Home Assistant
home-assistant.log
home-assistant_v2.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
optimize_icon.py

# Tests & Coverage
.coverage
.pytest_cache/

